@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --orange: hsl(25, 97%, 53%);
    --ligth-grey: hsl(217, 12%, 63%);
    --medium-gray: hsl(240, 7%, 30%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue:hsl(216, 12%, 8%);

    --paragraph-font-size: 15px;
}

body{
    font-family: 'Overpass', sans-serif; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--very-dark-blue);
    color:var(--white);
}


main{
   max-width: 360px;
   padding: 20px;
   background: var(--dark-blue); 
   border-radius: 15px;
}
.star-image{
    padding: 16px;
    background: var(--medium-gray);
    border-radius: 50%;
}
.heading{
    margin: 20px 0 20px 0;
}
main p{
    color: var(--ligth-grey);
}
input[type="radio"] {
    display: none;
    border-radius: 50%;
}

.rates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--medium-gray);
    width: 22px;
    height: 22px;
    padding: 26px;
    border-radius: 50%;
    color: var(--ligth-grey);
}
#selected {
    background: var(--orange);
    color: var(--white);
}
.numbers:hover{
    background: var(--ligth-grey);
    color: var(--white);
}
/* .numbers:focus{
    background: var(--orange);
    color: var(--white);
} */
input[type="radio"]:checked {
    background: var(--orange);
    color: var(--white);
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button{
    background: var(--orange);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 15px 125px 15px 125px;
    border-radius: 30px;
}

.submit-button:hover{
    color: var(--orange);
    background: var(--white);
}





























.card{
    display: none;
}




.attribution { 
    font-size: 11px;
    text-align: center;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: var(--medium-gray);
    color: var(--white);
    display: flex;
    align-items: center;justify-content: center;
}
.attribution a { color: hsl(228, 45%, 44%); }