@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --orange: hsl(25, 97%, 53%);
    --ligth-grey: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue:hsl(216, 12%, 8%);

    --paragraph-font-size: 15px;
}

body{
    font-family: 'Overpass', sans-serif;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--very-dark-blue);
    color:var(--white);
}


main{
    
}

.submit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}






























.attribution { 
    font-size: 11px;
    text-align: center;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: var(--medium-gray);
    color: var(--white);
    display: flex;
    align-items: center;justify-content: center;
}
.attribution a { color: hsl(228, 45%, 44%); }